html,body,* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}    
html {
    background-image: url("https://cdn.pixabay.com/photo/2017/11/04/21/09/textile-2918844_1280.jpg");
}
.main-about {
    border: 3px solid black;
    border-radius: 1rem;
    border-top-style: inset; 
    border-top-color: gold;
    border-bottom-style: inset;
    border-bottom-color: gold;
    border-left-style: groove;
    border-left-color: rgb(255, 195, 104);
    border-right-style: groove;
    border-right-color: rgb(255, 195, 104);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    background-color: ghostwhite;
    width: 90vw;
    align-items: flex-start;
    box-shadow: 1rem 2rem 0.25rem; 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-template-columns: 20vw 20vw 20vw 20vw;
}
.main-about-heading {
    text-align: center;
    font-size: 4rem;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: ghostwhite;
    width: 20vw;
    font-style: italic;
    font-family: 'Lora', serif;
    position: relative
}
.main-about-paragraph {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    background-color: ghostwhite;
    width: 60vw;
    font-style: italic;
    font-family: 'Lora', serif;
    position: relative
}
.q-album-name {
    padding: 1rem;
    text-align: center;
    border: 3px solid black;
    border-radius: 1rem;
    border-top-style: inset; 
    border-top-color: gold;
    border-bottom-style: inset;
    border-bottom-color: gold;
    border-left-style: groove;
    border-left-color: rgb(255, 195, 104);
    border-right-style: groove;
    border-right-color: rgb(255, 195, 104);
    margin-left: auto;
    margin-right: auto;
    background-color: ghostwhite;
    width: 20rem;
    font-style: italic;
    position: relative
}
.q-album-name-label {
    text-align: center;
    font-size: 1.5rem;
    background-color: ghostwhite;
    width: 9rem;
    font-style: italic;
    position: relative
}
.q-album-name-input {
    text-align: center;
    font-size: 1.5rem;
    background-color: ghostwhite;
    width: 17rem;
    height: 2rem;
    font-style: italic;
    font-family: 'Lora', serif;
    position: relative
}
.q-album-releaseDate {
    text-align: center;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 1rem;
    border-top-style: inset; 
    border-top-color: gold;
    border-bottom-style: inset;
    border-bottom-color: gold;
    border-left-style: groove;
    border-left-color: rgb(255, 195, 104);
    border-right-style: groove;
    border-right-color: rgb(255, 195, 104);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Lora', serif;
    background-color: ghostwhite;
    width: 20rem;
    font-style: italic;
    position: relative
}
.q-album-releaseDate-label {
    text-align: center;
    font-size: 1.5rem;
    background-color: ghostwhite;
    width: 18rem;
    font-style: italic;
    font-family: 'Lora', serif;
    position: relative
}
.q-album-releaseDate-input {
    text-align: center;
    font-size: 1.5rem;
    background-color: ghostwhite;
    width: 14rem;
    height: 4rem;
    font-style: italic;
    font-family: 'Lora', serif;
    position: relative
}
.q-album-artist {
    text-align: center;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 1rem;
    border-top-style: inset; 
    border-top-color: gold;
    border-bottom-style: inset;
    border-bottom-color: gold;
    border-left-style: groove;
    border-left-color: rgb(255, 195, 104);
    border-right-style: groove;
    border-right-color: rgb(255, 195, 104);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Lora', serif;
    background-color: ghostwhite;
    width: 20rem;
    font-style: italic;
    position: relative
}
.q-album-artist-label {
    text-align: center;
    font-size: 1.5rem;
    background-color: ghostwhite;
    width: 18rem;
    font-style: italic;
    font-family: 'Lora', serif;
    position: relative
}
.q-album-artist-input {
    text-align: center;
    font-size: 1.5rem;
    background-color: ghostwhite;
    width: 12rem;
    height: 4rem;
    font-style: italic;
    font-family: 'Lora', serif;
    position: relative
}
.q-album-image {
    text-align: center;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 1rem;
    border-top-style: inset; 
    border-top-color: gold;
    border-bottom-style: inset;
    border-bottom-color: gold;
    border-left-style: groove;
    border-left-color: rgb(255, 195, 104);
    border-right-style: groove;
    border-right-color: rgb(255, 195, 104);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Lora', serif;
    background-color: ghostwhite;
    width: 20rem;
    font-style: italic;
    position: relative
}
.q-album-image-label {
    text-align: center;
    font-size: 1.5rem;
    background-color: ghostwhite;
    width: 18rem;
    font-style: italic;
    font-family: 'Lora', serif;
    position: relative
}
.q-album-image-input {
    text-align: center;
    font-size: 1.5rem;
    background-color: ghostwhite;
    width: 12rem;
    height: 4rem;
    font-style: italic;
    font-family: 'Lora', serif;
    position: relative;
}
.q-album-submit {
    font-size: large;
    text-align: center;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 1rem;
    border-top-style: inset; 
    border-top-color: gold;
    border-bottom-style: inset;
    border-bottom-color: gold;
    border-left-style: groove;
    border-left-color: rgb(255, 195, 104);
    border-right-style: groove;
    border-right-color: rgb(255, 195, 104);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Lora', serif;
    background-color: ghostwhite;
    width: 20rem;
    font-style: italic;
    position: relative
}
.create-album {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    border: 3px solid black;
    border-radius: 1rem;
    border-top-style: inset; 
    border-top-color: gold;
    border-bottom-style: inset;
    border-bottom-color: gold;
    border-left-style: groove;
    border-left-color: rgb(255, 195, 104);
    border-right-style: groove;
    border-right-color: rgb(255, 195, 104);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: ghostwhite;
    width: 60vw;
    font-style: italic;
    font-family: 'Lora', serif;
    position: relative
}
#input-form {
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: ghostwhite;
    font-style: italic;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-template-columns: 10vw 10vw 10vw;
    position: relative;
    width: 84vw;
}